# -*-Mode: tcl -*-
# $Id: irix.config,v 1.5 2004/08/09 17:16:06 yamauchih Exp $
# site config file, Max-Planck-Institut f-Aür Informatik, AG4$)B
# IRIX, 32bit
#
assert {![string compare $OS   "IRIX"]}
dbg_msg "reading : [info script]" 1

# where to find the AG4 shared projects
config set ::PROJ_LOCATIONS /HPS/usr/ag4-adm/shared_proj

# directories in which tmk should NOT check dependencies
config set DEPEND_EXCLUDE {
    /usr/include/* 
    /HPS/opt/* 
    /opt/* 
    /usr/X11R6/*
    /usr/*
    /CYGWIN-B20/*
    /cygwin-b20/*
    /CYGWIN/*  
}

# for the automatic compilation at night, we switch ALL dependencies on!
if {[info exists env(USER)]} {
    if {$env(USER) == "ag4-adm"} {
	puts "switching on ***all*** dependency checks for ag4-adm"
	config set DEPEND_EXCLUDE {}
    }
}

# we use the C++ standard library in our projects 
# (e.g. MIPSpro needs to be configured for that!)
foreach x {cxx::OPTIONS c::OPTIONS link::OPTIONS} {
    config variable $x
    lappend $x "std"
}

# --------------------------------------------------------------
# where are software packages located?
# special configuration for our test-linux boxes / laptops
# --------------------------------------------------------------
if { ! [info exists pckg] } {
    set pckg "/HPS/opt/pckg"
}

# --------------------------------------------------------------
# X11 (default)
# --------------------------------------------------------------
namespace eval x11 {
    config set INCPATH {}
    config set LIBPATH {}
    catch {config set BINDIR [file dirname [exec which xterm]]}
    config set LIBS    {Xt Xi Xext Xmu X11}
}

# --------------------------------------------------------------
# MOTIF
# --------------------------------------------------------------
namespace eval motif {
    config set LIBPATH {}
    config set INCPATH {}
    config set LIBS    {Xm}
    config set DEPEND  {x11}
}

# --------------------------------------------------------------
# DGA (direct gfx access) - only on solaris !
# --------------------------------------------------------------
namespace eval dga {
    config set LIBPATH {}
    config set LIBS   {}
}

# --------------------------------------------------------------
# OpenGL 
# --------------------------------------------------------------
namespace eval opengl {
    config set INCPATH {}
    config set LIBPATH {}
    config set LIBS    { GLU GL }
    config set DEPEND  { dga x11 }
}

# --------------------------------------------------------------
# OpenInventor
# --------------------------------------------------------------
namespace eval inventor {
    config set LIBS   {Inventor}
    config set DEPEND {opengl}
}

namespace eval inventorxt {
  config set LIBS {InventorXt}
  config set DEPEND {Inventor}
}
   

# --------------------------------------------------------------
# QT 
# --------------------------------------------------------------
namespace eval qt {
    # current version 
    config set DEFS   {QT_CLEAN_NAMESPACE} ; # avoids name conflicts
    config set LIBS   {qt}
    config set DEPEND {gui opengl}
    config set DIR "$pckg/qt"
    
    # multi-threaded current version
    namespace eval mt {
	config set DEFS   {QT_THREAD_SUPPORT}
	config set LIBS   {qt-mt}
    }

    # other versions
    namespace eval 3 {
	config set DIR "$pckg/qt3"
    }
    namespace eval 2.2 {
	config set DIR "$pckg/qt-2.2.1"
    }
    namespace eval 2.0 {
	config set DIR "$pckg/qt2"
        config set DEPEND gui
    }
}


# --------------------------------------------------------------
# QGL (QT's opengl extension)
# --------------------------------------------------------------
namespace eval qgl {
    # current version is integrated in qt (>= 2.2) 
    config set LIBS   {}
    config set DEPEND {qt opengl gui}

    namespace eval 2.0 {
	config set LIBS {qgl}
	config set DEPEND {qt::2.0 opengl gui}
    }
    
    namespace eval 2.2 {
	config set LIBS {}
	config set DEPEND {qt::2.2 opengl gui}
    }
}

# --------------------------------------------------------------
# GLUT
# current version: 3.7beta
# --------------------------------------------------------------

namespace eval glut {
    config set DEPEND { OPENGL }
    config set LIBS {glut}
    config set INCPATH $pckg/glut/include
    # libpath depends on the compiler/linker
    config set_lazy LIBPATH [subst -nocommands {
	switch -glob \$::link::LINKER {
	    *mipspro {return "$pckg/glut/lib"}
	    *gcc     {return "$pckg/glut/lib"}
	    default  {return "$pckg/glut/lib"}
	}
    }]
}

# --------------------------------------------------------------
# GLOW
# --------------------------------------------------------------
namespace eval glow {
    config set INCPATH $pckg/glow/include
    config set LIBPATH $pckg/glow/lib
    config set LIBS    {glow}
    config set DEPEND  {glut}
}

# --------------------------------------------------------------
# GLUI
# --------------------------------------------------------------
namespace eval glui {
    set pckgglui $pckg/glui
    config set INCPATH $pckgglui/include
    config set LIBPATH "$pckgglui/lib"
    config set LIBS    {glui}
    config set DEPEND  {glut}
}

# --------------------------------------------------------------
# GLE
# --------------------------------------------------------------
namespace eval gle {
    config set INCPATH $pckg/gle/include
    config set LIBPATH $pckg/gle/lib
    config set LIBS    {gle}
    config set DEPEND  {glut}
}

# --------------------------------------------------------------
# ACGL
# --------------------------------------------------------------
namespace eval acgl {
    config set INCPATH $pckg/ACGL/include
    config set LIBPATH $pckg/ACGL/lib
    config set LIBS    {acgl}
    config set DEPEND  {opengl}
}

# --------------------------------------------------------------
# LIB3DS - 3D studio import library
# --------------------------------------------------------------
namespace eval lib3ds {
    config set LIBPATH $pckg/lib3ds/lib
    config set INCPATH $pckg/lib3ds/include
    config set LIBS { 3ds }
}


# --------------------------------------------------------------
# TIFF
# --------------------------------------------------------------

namespace eval tiff {
    config set LIBPATH $pckg/tiff/lib32
    config set INCPATH $pckg/tiff/include 
    config set LIBS    {tiff}
    # patched version
    namespace eval patched {
	config set LIBPATH $pckg/tiff-patched/lib32
	config set INCPATH $pckg/tiff-patched/include 
    }
}

# --------------------------------------------------------------
# PNG
# --------------------------------------------------------------

namespace eval png {
    #    config set INCPATH $pckg/libpng/include
    #    config set LIBPATH $pckg/libpng/lib
    config set LIBS    {png z}
    config set DEPEND  {zlib}
}

# --------------------------------------------------------------
# JPEG
# --------------------------------------------------------------

namespace eval jpeg {
    #    config set INCPATH $pckg/jpeg-6b/include
    #    config set LIBPATH $pckg/jpeg-6b/lib
    config set LIBS    {jpeg}
    config set DEPEND  {}
}

# --------------------------------------------------------------
# ZLIB
# --------------------------------------------------------------

namespace eval zlib {
    config set INCPATH      $pckg/zlib/include
    config set LIBPATH      $pckg/zlib/lib
    config set LIBS         {z}
}

# --------------------------------------------------------------
# BZLIB
# --------------------------------------------------------------

namespace eval bzlib {
    config set INCPATH $pckg/bzip2/include
    config set LIBPATH $pckg/bzip2/lib
    config set LIBS    { bz2 }
}

# --------------------------------------------------------------
# LUG
# --------------------------------------------------------------

namespace eval lug {
    config set INCPATH $pckg/lug/include
    config set LIBPATH $pckg/lug/lib
    config set LIBS    {lug}
}

# --------------------------------------------------------------
# flTk
# --------------------------------------------------------------

namespace eval fltk {
  config set DEPEND {gui}
  config set LIBPATH /HPS/opt/lib32
  config set INCPATH /HPS/opt/include
  config set LIBS    {fltk}
}

# --------------------------------------------------------------
# quicktime4linux - reading & writing .mov files
# --------------------------------------------------------------
namespace eval quicktime4linux {
  config set DEPEND {pthread}
  config set LIBPATH $pckg/quicktime/lib
  config set INCPATH $pckg/quicktime/include
  config set LIBS    {quicktime glib}
}

# --------------------------------------------------------------
# OpenCV - Intel's Computer Vision Library
# --------------------------------------------------------------
namespace eval opencv {
  config set DEPEND {ipl}
  config set LIBPATH $pckg/opencv/lib
  config set INCPATH $pckg/opencv/include
  config set LIBS    {opencv}
}

# --------------------------------------------------------------
# IPL - Intel's Image Processing Library
# --------------------------------------------------------------
namespace eval ipl {
  config set DEPEND  {}
  config set LIBPATH {}
  config set INCPATH {/usr/include/ipl}
  config set LIBS    {iplpx ipla6 iplm6 }
}

# --------------------------------------------------------------
# ImageMagick C++ 
# --------------------------------------------------------------
namespace eval magick++ {
    config set DEPEND {}
    config set LIBPATH $pckg/ImageMagick/lib
    config set INCPATH $pckg/ImageMagick/include
    config set LIBS    {Magick}
    config set DEPEND {Magick}
}

# --------------------------------------------------------------
# ImageMagick  
# --------------------------------------------------------------
namespace eval magick {
    #    config set DEPEND {pthread}
    config set LIBPATH $pckg/ImageMagick/lib
    config set INCPATH $pckg/ImageMagick/include
    config set LIBS    {Magick}
}

# --------------------------------------------------------------
# TCL 
# --------------------------------------------------------------
namespace eval tcl {
  config set DEPEND {}
  config set LIBPATH $pckg/tcl8.4a1/lib
  config set INCPATH $pckg/tcl8.4a1/include
  config set LIBS    {tcl8.4}
}

# --------------------------------------------------------------
# TK 
# --------------------------------------------------------------
namespace eval tk {
  config set DEPEND {tcl}
  config set LIBPATH $pckg/tk8.4a1/lib
  config set INCPATH $pckg/tk8.4a1/include
  config set LIBS    {tk8.4}
}

# --------------------------------------------------------------
# POSIX threads
# --------------------------------------------------------------

namespace eval pthread {
    config set LIBS {}
}

# --------------------------------------------------------------
# Math library (includes should be set automatically)
# --------------------------------------------------------------

namespace eval math {
    config set LIBS { m }
}

# --------------------------------------------------------------
# NVIDIA Cg 'C for graphics' toolkit 
# --------------------------------------------------------------

namespace eval cg {
    config set INCPATH $pckg/Cg/include
    config set LIBPATH $pckg/Cg/lib
    config set LIBS    { CgGL Cg  }
    config set DEPEND  { opengl math }
}

# --------------------------------------------------------------
# Fortran->C Compiler
# --------------------------------------------------------------

namespace eval f2c {
    # What is the right way to do this???
    config set INCPATH $pckg/f2c/include
    config set LIBPATH $pckg/f2c/lib
    config set LIBS    { f2c }
}

# --------------------------------------------------------------
# CLAPACK/CBLAS
# --------------------------------------------------------------

namespace eval clapack {
    config set INCPATH $pckg/CLAPACK/include
    config set LIBPATH $pckg/CLAPACK/lib
    config set LIBS    { cblas clapack F77 I77 } 
    config set DEPEND  { math }

    #
    # NOTE: This might interfere with f2c!!! Not tested!
    #
}

#----------------------------------------
# Metis graph partitioning
#----------------------------------------

namespace eval metis {
    config set INCPATH $pckg/metis/include
    config set LIBPATH $pckg/metis/lib
    config set LIBS    { metis } 
    config set DEPEND  { math }
}

#----------------------------------------
# TAUCS sparse linear solvers
#----------------------------------------

namespace eval taucs {
    config set INCPATH $pckg/taucs/include
    config set LIBPATH $pckg/taucs/lib
    config set LIBS    { taucs blas clapack } 
    #removed g2c
    config set DEPEND  { math metis }

    # note: BLAS is installed in /usr/lib for Debian3.0 and IRIX
}

#----------------------------------------
# J.R. Shewchuk's triangle library/binaries 
# http://www-2.cs.cmu.edu/~quake/triangle.html
#----------------------------------------

namespace eval triangle {
    config set INCPATH $pckg/triangle/include
    config set LIBPATH $pckg/triangle/lib
    config set LIBS    { triangle } 
}


# --------------------------------------------------------------
# Various stuff
# --------------------------------------------------------------
config set g::PCCTS         $pckg/pccts
config set purify::PURIFY   /opt/pure/purify-4.1-irix6/purify
catch {config set doxygen::DOXYGEN [exec which doxygen]}

# we don't have NASM installed - don't use MMX
config set USE_MMX 0

# we don't have pgcc installed
lremove cxx::COMPILERS pgcc
lremove c::COMPILERS pgcc

# --------------------------------------------------------------
# Digital Media Software Development Kit by SGI
# --------------------------------------------------------------

namespace eval dmsdk {
    config set INCPATH {}
    config set LIBPATH {}
    config set LIBS    {dmedia audio}
}

# ------------------------------------------------------------
# ghost
# ------------------------------------------------------------
namespace eval ghost {
    if { $HOST == "potassium" } {
	if { $::cxx::COMPILER != "gcc" || $::cxx::gcc::VERSION != "2.96" } {
	    puts stderr "*****************************************************************"
	    puts stderr "Error: GHOST SDK can only be used with GNU compiler version 2.96"
	    puts stderr "       please set PATH variable to /HPS/opt/pckg/gcc-2.96/usr/bin"
	    puts stderr "       and re-configure tmk !!!"
	    puts stderr "*****************************************************************"
	    if { $HOST != "samarium" } {
		exit 1
	    }
	}
    }
    
    config set INCPATH /HPS/opt/pckg/GHOST/usr/include/GHOST
    config set LIBPATH /HPS/opt/pckg/GHOST/usr/lib
    config set LIBS {
	PHANToMIO	
	ghost	
	rt
	dl
    }
    config set DEPEND { pthread }
}

namespace eval ghost_gl {
    config set LIBS { ghostGL ghostGLDraw gstVRML ghostGLManager ghostGLUTManager }
    config set DEPEND { ghost glut X11 }
}

namespace eval ghost_hapticview {
    config set LIBS { widgets-sgi Xm HapticView reset_screen quit pmouseComClient STIComServer }
    config set DEPEND {ghost_gl}
}
