# -*-Mode: tcl -*-
# $Id: linux.debian3.0.config,v 1.8 2005/04/23 20:53:58 yamauchih Exp $
# site config file, Max-Planck-Institut f-Aür Informatik, AG4$)B
# Debian3.0, gcc 3.2 or more 
#
assert {![string compare $OS   "Linux"]}
assert {![string compare $ARCH "Debian3.0"]}
dbg_msg "reading : [info script]" 1

# directories in which tmk should NOT check dependencies
config set DEPEND_EXCLUDE {
    /usr/include/* 
    /HPS/opt/* 
    /opt/* 
    /usr/X11R6/*
    /usr/*
}

set pckg "/HPS/opt/pckg"

namespace eval gcc3modules {
    config set INCPATH {/usr/gcc-3.2/usr/include}
    config set LIBPATH {/usr/gcc-3.2/usr/lib}
}

# --------------------------------------------------------------
# X11 (default)
# --------------------------------------------------------------

namespace eval x11 {
    config set INCPATH /usr/X11R6/include
    config set LIBPATH /usr/X11R6/lib
    config set BINDIR  /usr/X11R6/bin
    config set LIBS   {Xt Xi Xext Xmu X11}
}

# --------------------------------------------------------------
# MOTIF
# --------------------------------------------------------------
namespace eval motif {
    config set LIBS {Xm}
    config set DEPEND {x11}
}

# --------------------------------------------------------------
# DGA (direct gfx access) - only on solaris !
# --------------------------------------------------------------
namespace eval dga {
    config set LIBPATH {}
    config set LIBS   {}
}

# --------------------------------------------------------------
# OpenGL 
# --------------------------------------------------------------
namespace eval opengl {

    config set INCPATH {}
    config set LIBPATH {}
    config set LIBS { GLU GL }
    config set DEPEND { dga x11 }
}

# --------------------------------------------------------------
# OpenInventor
# --------------------------------------------------------------
namespace eval inventor {
    config set LIBS   {Inventor}
    config set DEPEND {opengl gcc3modules}
}

namespace eval inventorxt {
  config set LIBS {InventorXt}
  config set DEPEND {Inventor}
}
   

# --------------------------------------------------------------
# QT 
# --------------------------------------------------------------

namespace eval qt {
    
    # current version 
    config set DEFS   {QT_CLEAN_NAMESPACE} ; # avoids name conflicts
    config set LIBS   {qt}
    config set DEPEND {gui opengl}
    config set DIR     /usr/gcc-3.2/usr
    config set INCPATH /usr/gcc-3.2/usr/include/qt
    config set LIBPATH /usr/gcc-3.2/usr/lib


    # multi-threaded current version
    namespace eval mt {
	config set DEFS   {QT_THREAD_SUPPORT}
	config set LIBS   {qt-mt}
    }
}


# --------------------------------------------------------------
# QGL (QT's opengl extension)
# --------------------------------------------------------------

namespace eval qgl {
    # current version is integrated in qt (>= 2.2) 
    config set DEPEND {qt}
}


# --------------------------------------------------------------
# GLUT
# current version: 3.7beta
# --------------------------------------------------------------

namespace eval glut {

    config set DEPEND { opengl }
    config set LIBS   { glut }
}

# --------------------------------------------------------------
# GLOW
# --------------------------------------------------------------
namespace eval glow {
    config set LIBS {glow}
    config set DEPEND  {glut gcc3modules}
}

# --------------------------------------------------------------
# GLUI
# --------------------------------------------------------------
namespace eval glui {
    config set LIBS    {glui}
    config set DEPEND  {glut gcc3modules}
}


# --------------------------------------------------------------
# LIB3DS - 3D studio import library
# --------------------------------------------------------------
namespace eval lib3ds {
    config set LIBS { 3ds }
}


# --------------------------------------------------------------
# TIFF
# --------------------------------------------------------------
namespace eval tiff {
    config set LIBS    {tiff}
}

# --------------------------------------------------------------
# OpenEXR
# --------------------------------------------------------------
namespace eval openexr {
    config set LIBPATH {/usr/gcc-3.2/usr/lib}
    config set INCPATH {/usr/gcc-3.2/usr/include/OpenEXR}
    config set LIBS    {Imath IlmImf Iex Half }
    config set DEPEND  {zlib}
}

# --------------------------------------------------------------
# PNG
# --------------------------------------------------------------
namespace eval png {
    config set LIBS    {png}
    config set DEPEND  {zlib}
}

# --------------------------------------------------------------
# JPEG
# --------------------------------------------------------------
namespace eval jpeg {
    config set LIBS    {jpeg}
}

# --------------------------------------------------------------
# ZLIB
# --------------------------------------------------------------
namespace eval zlib {
    config set LIBS         {z}
}

# --------------------------------------------------------------
# BZLIB
# --------------------------------------------------------------

namespace eval bzlib {
    config set LIBS    { bz2 }
}


# --------------------------------------------------------------
# flTk
# --------------------------------------------------------------

namespace eval fltk {
  config set DEPEND {gui gcc3modules}
  config set LIBS    {fltk}
}


# --------------------------------------------------------------
# OpenCV - Intel's Computer Vision Library
# --------------------------------------------------------------
namespace eval opencv {
  config set DEPEND {ipl gcc3modules}
  config set LIBS   {opencv}
}

# --------------------------------------------------------------
# IPL - Intel's Image Processing Library
# --------------------------------------------------------------
namespace eval ipl {
  config set DEPEND {}
  config set LIBPATH {}
  config set INCPATH {/usr/include/ipl}
  config set LIBS    {iplpx ipla6 iplm6 }
}

# --------------------------------------------------------------
# ImageMagick C++ 
# --------------------------------------------------------------
namespace eval magick++ {
    config set DEPEND {gcc3modules }
    config set LIBS   {Magick++}
}

# --------------------------------------------------------------
# ImageMagick  
# --------------------------------------------------------------
namespace eval magick {
   config set DEPEND {pthread gcc3modules}
   config set LIBS    {Magick}
}

# --------------------------------------------------------------
# TCL 
# --------------------------------------------------------------
namespace eval tcl {
    config set LIBPATH {/HPS/opt/pckg/tcl8.4.8/lib}
    config set INCPATH {/HPS/opt/pckg/tcl8.4.8/include}
    config set DEPEND {}
    config set LIBS    {tcl8.4}
}

# --------------------------------------------------------------
# TK 
# --------------------------------------------------------------
namespace eval tk {
    config set DEPEND {tcl}
    config set LIBS    {tk8.4}
}

# --------------------------------------------------------------
# POSIX threads
# --------------------------------------------------------------

namespace eval pthread {
    config set LIBS {pthread}
}

# --------------------------------------------------------------
# Math library (includes should be set automatically)
# --------------------------------------------------------------
config set math::LIBS {m}

# --------------------------------------------------------------
# NVIDIA Cg 'C for graphics' toolkit 
# --------------------------------------------------------------

namespace eval cg {
    config set INCPATH $pckg/Cg/include
    config set LIBPATH $pckg/Cg/lib
    config set LIBS    { CgGL Cg  }
    config set DEPEND  { opengl math }
}

# --------------------------------------------------------------
# Fortran->C Compiler
# --------------------------------------------------------------

namespace eval f2c {
    # What is the right way to do this???
    config set INCPATH $pckg/f2c/include
    config set LIBPATH $pckg/f2c/lib
    config set LIBS    { f2c }
}

# --------------------------------------------------------------
# CLAPACK/CBLAS
# --------------------------------------------------------------

namespace eval clapack {
    config set INCPATH $pckg/CLAPACK/include
    config set LIBPATH $pckg/CLAPACK/lib
    config set LIBS    { cblas clapack F77 I77 } 
    config set DEPEND  { math }

    #
    # NOTE: This might interfere with f2c!!! Not tested!
    #
}

#----------------------------------------
# Metis graph partitioning
#----------------------------------------

namespace eval metis {
    config set INCPATH $pckg/metis/include
    config set LIBPATH $pckg/metis/lib
    config set LIBS    { metis } 
    config set DEPEND  { math }
}

#----------------------------------------
# TAUCS sparse linear solvers
#----------------------------------------

namespace eval taucs {
    config set INCPATH $pckg/taucs/include
    config set LIBPATH $pckg/taucs/lib
    config set LIBS    { taucs blas clapack g2c } 
    config set DEPEND  { math metis }

    # note: BLAS is installed in /usr/lib for Debian3.0 and IRIX
}

#----------------------------------------
# J.R. Shewchuk's triangle library/binaries 
# http://www-2.cs.cmu.edu/~quake/triangle.html
#----------------------------------------

namespace eval triangle {
    config set INCPATH $pckg/triangle/include
    config set LIBPATH $pckg/triangle/lib
    config set LIBS    { triangle } 
}


# --------------------------------------------------------------
# Various stuff
# --------------------------------------------------------------
config set g::PCCTS         $pckg/pccts
config set purify::PURIFY   /opt/pure/purify-4.1-irix6/purify
catch {config set doxygen::DOXYGEN [exec which doxygen]}

# we don't have NASM installed - don't use MMX
config set USE_MMX 0

# we don't have pgcc installed
lremove cxx::COMPILERS pgcc
lremove c::COMPILERS   pgcc

# --------------------------------------------------------------
# Digital Media Software Development Kit by SGI
# --------------------------------------------------------------

namespace eval dmsdk {
    config set INCPATH /HPS/projects/medusa/dmsdk/linux/root/usr/include
    config set LIBPATH /HPS/projects/medusa/dmsdk/linux/root/usr/lib
    config set LIBS    {dmutil dmsdk}
}


# --------------------------------------------------------------
# readline 
# --------------------------------------------------------------

namespace eval readline {
    # config set INCPATH {} # it is in /usr/include, no need to put.
    # config set LIBPATH {} # it is in /usr/lib,     no need to put.
    config set LIBS {readline}
}

# --------------------------------------------------------------
# doxygen 
# --------------------------------------------------------------
namespace eval doxygen {
    # accept_version (accept --version) is more than 1.3?
    config set DOXYGEN_VERSION "accept_version"
}
    