# -*-Mode: tcl -*-
# $Id: linux.debian3.1.config,v 1.21 2008/04/21 12:04:08 cfuchs_sf Exp $
# site config file, Max-Planck-Institut f"ur Informatik, AG4
# Debian3.1, Sarge
#
assert {![string compare $OS   "Linux"]}
assert {![string compare $ARCH "Debian3.1"]}
dbg_msg "reading : [info script]" 1

# directories in which tmk should NOT check dependencies
config set DEPEND_EXCLUDE {
    /usr/include/* 
    /HPS/opt/* 
    /opt/* 
    /usr/X11R6/*
    /usr/*
}

set pckg "/HPS/opt/pckg"

# --------------------------------------------------------------
# X11 (default)
# --------------------------------------------------------------
namespace eval x11 {
    config set INCPATH /usr/X11R6/include
    config set LIBPATH /usr/X11R6/lib
    config set BINDIR  /usr/X11R6/bin
    config set LIBS   {Xt Xi Xext Xmu X11}
}

# --------------------------------------------------------------
# MOTIF
# --------------------------------------------------------------
namespace eval motif {
    config set LIBS   {Xm}
    config set DEPEND {x11}
}

# --------------------------------------------------------------
# DGA (direct gfx access) - only on solaris !
# --------------------------------------------------------------
namespace eval dga {
    config set LIBPATH {}
    config set LIBS    {}
}

# --------------------------------------------------------------
# OpenGL 
# --------------------------------------------------------------
namespace eval opengl {
    config set INCPATH {}
    config set LIBPATH {}
    config set LIBS { GLU GL }
    config set DEPEND { dga x11 }
}

# --------------------------------------------------------------
# OpenInventor
# --------------------------------------------------------------
namespace eval inventor {
    config set LIBS   {Inventor}
    config set DEPEND {opengl}
}

namespace eval inventorxt {
  config set LIBS {InventorXt}
  config set DEPEND {Inventor}
}
   

# --------------------------------------------------------------
# QT 
# --------------------------------------------------------------
namespace eval qt {
    # current version 
    config set DEFS   {QT_CLEAN_NAMESPACE} ; # avoids name conflicts
    # can not find libqt.so (instead of libqt.so.3)
    config set LIBS   {qt-mt}
    config set DEPEND {gui opengl}
    config set DIR     /usr
    config set INCPATH /usr/include/qt3
    config set LIBPATH /usr/lib

    # multi-threaded current version
    namespace eval mt {
	config set DEFS   {QT_THREAD_SUPPORT}
	config set LIBS   {qt-mt}
    }
}


# --------------------------------------------------------------
# QGL (QT's opengl extension)
# --------------------------------------------------------------
namespace eval qgl {
    # current version is integrated in qt (>= 2.2) 
    config set DEPEND {qt}
}

# --------------------------------------------------------------
# QT 4
# Usually you need { qt4 qt4qtcore }
# --------------------------------------------------------------
namespace eval qt4 {
    config set DIR      /HPS/opt/pckg/Qt4
    config set INCPATH  { /HPS/opt/pckg/Qt4/include }
    config set LIBPATH  /HPS/opt/pckg/Qt4/lib
}

namespace eval qt4qtcore {
    config set INCPATH  { /HPS/opt/pckg/Qt4/include/QtCore /HPS/opt/pckg/Qt4/include/Qt }
    config set LIBS   { QtCore }
    config set DEPEND {qt4}
}

#
# new qt feature, modules
#
namespace eval qt4qtactiveqt {
    config set INCPATH { /HPS/opt/pckg/Qt4/include/ActiveQt }
    config set LIBS   {QtGui}
    config set DEPEND {qt4qtcore}
}
namespace eval qt4qt3support {
    config set INCPATH { /HPS/opt/pckg/Qt4/include/Qt3Support }
    config set LIBS   {Qt3Support}
    config set DEPEND {qt4qtcore}
}
namespace eval qt4qtgui {
    config set INCPATH { /HPS/opt/pckg/Qt4/include/QtGui }
    config set LIBS   {QtGui}
    config set DEPEND {qt4qtcore}
}
namespace eval qt4qtopengl {
    config set INCPATH { /HPS/opt/pckg/Qt4/include/QtOpenGL }
    config set LIBS   {QtOpenGL}
    config set DEPEND {qt4qtcore}
}
namespace eval qt4qtsvg {
    config set INCPATH { /HPS/opt/pckg/Qt4/include/QtSvg }
    config set LIBS   {QtSvg}
    config set DEPEND {qt4qtcore}
}
namespace eval qt4qtuitools {
    config set INCPATH { /HPS/opt/pckg/Qt4/include/QtUiTools }
    config set DEPEND {qt4qtcore}
}
namespace eval qt4qtassistant {
    config set INCPATH { /HPS/opt/pckg/Qt4/include/QtAssistant }
    config set DEPEND {qt4qtcore}
}
namespace eval qt4qtdesigner {
    config set INCPATH { /HPS/opt/pckg/Qt4/include/QtDesigner }
    config set DEPEND {qt4qtcore}
}
namespace eval qt4qtnetwork {
    config set INCPATH { /HPS/opt/pckg/Qt4/include/QtNetwork }
    config set LIBS   {QtNetwork}
    config set DEPEND {qt4qtcore}
}
namespace eval qt4qtsql {
    config set INCPATH { /HPS/opt/pckg/Qt4/include/QtSql }
    config set LIBS   {QtSql}
    config set DEPEND {qt4qtcore}
}
namespace eval qt4qttest {
    config set INCPATH { /HPS/opt/pckg/Qt4/include/QtTest }
    config set DEPEND {qt4qtcore}
}
namespace eval qt4qtxml {
    config set INCPATH { /HPS/opt/pckg/Qt4/include/QtXml }
    config set LIBS   {QtXml}
    config set DEPEND {qt4qtcore}
}

# namespace eval qt3support {
#     config set DIR    /HPS/opt/pckg/Qt4
#     config set INCPATH        /HPS/opt/pckg/Qt4/include
#     config set LIBPATH        /HPS/opt/pckg/Qt4/lib
#     config set DEFS   {QT3_SUPPORT} ;
# }

# --------------------------------------------------------------
# GLUT
# current version: 3.7beta
# --------------------------------------------------------------
namespace eval glut {
    config set DEPEND { opengl }
    config set LIBS   { glut }
}

# --------------------------------------------------------------
# GLOW
# --------------------------------------------------------------
namespace eval glow {
    config set LIBS {glow}
    config set DEPEND  {glut}
}

# --------------------------------------------------------------
# GLUI
# --------------------------------------------------------------
namespace eval glui {
    config set LIBS    {glui}
    config set DEPEND  {glut}
}

# --------------------------------------------------------------
# LIB3DS - 3D studio import library
# --------------------------------------------------------------
namespace eval lib3ds {
    config set LIBS { 3ds }
}

# --------------------------------------------------------------
# TIFF
# --------------------------------------------------------------
namespace eval tiff {
    config set LIBS    {tiff}
}

# --------------------------------------------------------------
# OpenEXR
# --------------------------------------------------------------
namespace eval openexr {
    config set LIBPATH {/usr/lib}
    config set INCPATH {/usr/include/OpenEXR}
    config set LIBS    {Imath IlmImf Iex Half }
    config set DEPEND  {zlib}
}

# --------------------------------------------------------------
# PNG
# --------------------------------------------------------------
namespace eval png {
    config set LIBS    {png}
    config set DEPEND  {zlib}
}

# --------------------------------------------------------------
# JPEG
# --------------------------------------------------------------
namespace eval jpeg {
    config set LIBS    {jpeg}
}

# --------------------------------------------------------------
# ZLIB
# --------------------------------------------------------------
namespace eval zlib {
    config set LIBS         {z}
}

# --------------------------------------------------------------
# BZLIB
# --------------------------------------------------------------
namespace eval bzlib {
    config set LIBS    { bz2 }
}

# --------------------------------------------------------------
# flTk
# --------------------------------------------------------------
namespace eval fltk {
    config set DEPEND {gui }
    config set LIBS   {fltk}
}


# --------------------------------------------------------------
# OpenCV - Intel's Computer Vision Library
# --------------------------------------------------------------
namespace eval opencv {
    config set DEPEND {ipl }
    config set LIBS   {opencv}
}

# --------------------------------------------------------------
# IPL - Intel's Image Processing Library
# --------------------------------------------------------------
namespace eval ipl {
  config set DEPEND {}
  config set LIBPATH {}
  config set INCPATH {/usr/include/ipl}
  config set LIBS    {iplpx ipla6 iplm6 }
}

# --------------------------------------------------------------
# ImageMagick C++ 
# --------------------------------------------------------------
namespace eval magick++ {
    config set LIBS   {Magick++}
}

# --------------------------------------------------------------
# ImageMagick  
# --------------------------------------------------------------
namespace eval magick {
    config set DEPEND { pthread }
    config set LIBS    {Magick}
}

# --------------------------------------------------------------
# TCL 
# --------------------------------------------------------------
namespace eval tcl {
  config set INCPATH {/usr/include/tcl8.4}
  config set DEPEND {}
  config set LIBS    {tcl8.4}
}

# --------------------------------------------------------------
# TK 
# --------------------------------------------------------------
namespace eval tk {
  config set INCPATH {/usr/include/tcl8.4}
  config set DEPEND {tcl}
  config set LIBS    {tk8.4}
}

# --------------------------------------------------------------
# POSIX threads
# --------------------------------------------------------------
namespace eval pthread {
    config set LIBS {pthread}
}

# --------------------------------------------------------------
# Math library (includes should be set automatically)
# --------------------------------------------------------------
config set math::LIBS {m}

# --------------------------------------------------------------
# NVIDIA Cg 'C for graphics' toolkit 
# --------------------------------------------------------------
namespace eval cg {
    config set INCPATH $pckg/Cg/include
    config set LIBPATH $pckg/Cg/lib
    config set LIBS    { CgGL Cg  }
    config set DEPEND  { opengl math }
}

# --------------------------------------------------------------
# Fortran->C Compiler 
# --------------------------------------------------------------
namespace eval f2c {
    config set LIBS    { f2c }
}

# --------------------------------------------------------------
# (C)LAPACK/(C)BLAS -> ATLAS. 
# clapack may be obsolete, please use the module name lapack.
# --------------------------------------------------------------
namespace eval clapack {   
    config set LIBPATH /usr/lib/atlas/
    config set LIBS    { blas lapack } 
    config set DEPEND  { math }
}

# --------------------------------------------------------------
# ATLAS LAPACK/BLAS
# --------------------------------------------------------------
namespace eval lapack {   
    config set LIBPATH /usr/lib/atlas/
    config set LIBS    { blas lapack } 
    config set DEPEND  { math }
}

#----------------------------------------
# Metis graph partitioning
#----------------------------------------
namespace eval metis {
    config set INCPATH $pckg/metis/include
    config set LIBPATH $pckg/metis/lib
    config set LIBS    { metis } 
    config set DEPEND  { math }
}

#----------------------------------------
# TAUCS sparse linear solvers
#----------------------------------------
namespace eval taucs {
    config set INCPATH $pckg/taucs/include
    config set LIBPATH $pckg/taucs/lib
    config set LIBS    { taucs } 
    config set DEPEND  { math metis clapack }
}

#----------------------------------------
# J.R. Shewchuk's triangle library/binaries 
# http://www-2.cs.cmu.edu/~quake/triangle.html
#----------------------------------------
namespace eval triangle {
    config set INCPATH $pckg/triangle/include
    config set LIBPATH $pckg/triangle/lib
    config set LIBS    { triangle } 
}


# --------------------------------------------------------------
# Various stuff
# --------------------------------------------------------------
config set g::PCCTS         $pckg/pccts
config set purify::PURIFY   /opt/pure/purify-4.1-irix6/purify
catch {config set doxygen::DOXYGEN [exec which doxygen]}

# we don't have NASM installed - don't use MMX
config set USE_MMX 0

# we don't have pgcc installed
lremove cxx::COMPILERS pgcc
lremove c::COMPILERS   pgcc

# --------------------------------------------------------------
# Digital Media Software Development Kit by SGI
# --------------------------------------------------------------

namespace eval dmsdk {
    config set INCPATH /HPS/projects/medusa/dmsdk/linux/root/usr/include
    config set LIBPATH /HPS/projects/medusa/dmsdk/linux/root/usr/lib
    config set LIBS    {dmutil dmsdk}
}

# --------------------------------------------------------------
# readline 
# --------------------------------------------------------------

namespace eval readline {
    # config set INCPATH {} # it is in /usr/include, no need to put.
    # config set LIBPATH {} # it is in /usr/lib,     no need to put.
    config set LIBS {readline}
}

# --------------------------------------------------------------
# doxygen 
# --------------------------------------------------------------
namespace eval doxygen {
    # accept_version (accept --version) is more than 1.3?
    config set DOXYGEN_VERSION "accept_version"
}

# --------------------------------------------------------------
# namazu 
# --------------------------------------------------------------
namespace eval namazu {
    catch { set MKNMZ [exec which mknmz] }
}

# --------------------------------------------------------------
# matlab, mex, mcc
# --------------------------------------------------------------
namespace eval matlab {
    config set MATLABROOT /usr/lib/matlab
    config set MATLAB     ${MATLABROOT}/bin/matlab
    config set INCPATH {/usr/lib/matlab/ /usr/lib/matlab/extern/include/}
    config set LIBPATH { /usr/lib/matlab/bin/glnx86 }
}

namespace eval mex {

    config set MATLABROOT /usr/lib/matlab
    config set MATLAB     ${MATLABROOT}/bin/matlab
    config set MEX        ${MATLABROOT}/bin/mex

    config set LIBPATH    ${MATLABROOT}/bin/glnx86
    # PEFER NOT  [mkpath $p sys/java/jre/glnx86/jre1.4.2/lib/i386/client]
    # PEFER NOT [mkpath $p sys/java/jre/glnx86/jre1.4.2/lib/i386]
    # NOT [mkpath $p sys/os/glnx86]	

    config set INCPATH    ${MATLABROOT}/extern/include/cpp 
    lappend INCPATH       ${MATLABROOT}/extern/include 

    config set LIBS    { mwmclmcrrt}
    config set DEPEND  { cxx math }
    config set SYSLIBS { pthread }

    config set MEX_CFLAGS " -DHAVE_MATLAB -DUNIX -DX11 -ansi -D_GNU_SOURCE "
}

namespace eval mcc {
    config set MCC    /usr/lib/matlab/bin/mcc

    # INCPATH or LIBPATH is necessary to register this module
    config set INCPATH {}     
}

# --------------------------------------------------------------
# UFsparce
#   metis:   partitioning unstructured graphs
#   amd:     approximate minimum degree ordering
#   colmod:  column approximate minimum degree ordering algorithm
#   ccolmod: column approximate minimum degree ordering algorithm 
#   umfpack: space linear system solver
#   cholmod: a sparse Cholesky factorization package.
# --------------------------------------------------------------
# namespace eval metis {
#     config set INCPATH ${pckg}/metis/Program
#     config set LIBPATH ${pckg}/metis 
#     config set LIBS    { metis }
# }
namespace eval amd {
    config set INCPATH ${pckg}/UFsparse/AMD/Include
    config set LIBPATH ${pckg}/UFsparse/AMD/Lib
    config set LIBS    { amd }
}
namespace eval colamd {
    config set INCPATH ${pckg}/UFsparse/COLAMD 
    config set LIBPATH ${pckg}/UFsparse/COLAMD  
    config set LIBS    { colamd }
}
namespace eval ccolamd {
    config set INCPATH ${pckg}/UFsparse/CCOLAMD 
    config set LIBPATH ${pckg}/UFsparse/CCOLAMD  
    config set LIBS    { ccolamd }
}
namespace eval umfpack {
    config set INCPATH ${pckg}/UFsparse/UMFPACK/Include
    config set LIBPATH ${pckg}/UFsparse/UMFPACK/Lib
    config set LIBS    { umfpack }
    config set DEPEND  { amd }
}
namespace eval cholmod {
    config set INCPATH ${pckg}/UFsparse/CHOLMOD/Include 
    config set LIBPATH ${pckg}/UFsparse/CHOLMOD/Lib 
    config set LIBS    { cholmod }
    config set DEPEND  { colamd amd metis ccolamd umfpack } 
}

# --------------------------------------------------------------
# ANN: Approximate Nearest Neighbor Searching
#      http://www.cs.umd.edu/~mount/ANN/
# --------------------------------------------------------------
namespace eval ann {
    config set INCPATH ${pckg}/ann/include
    config set LIBPATH ${pckg}/ann/lib
    config set LIBS    { ANN }
}

# but with float as primary data type for coordinates

namespace eval ann_float {
    config set INCPATH ${pckg}/ann_float/include
    config set LIBPATH ${pckg}/ann_float/lib
    config set LIBS    { ANN }
}

# --------------------------------------------------------------
# Ruby
# --------------------------------------------------------------
namespace eval ruby {
    config set INCPATH {/usr/lib/ruby/1.8/i386-linux}
    config set DEPEND  {}
    config set LIBS    {ruby1.8}
}

# --------------------------------------------------------------
# OpenRT
# --------------------------------------------------------------
namespace eval openrt {
    config set LIBPATH /HPS/opt/pckg/OpenRT/rtrt/lib
    config set INCPATH {/HPS/opt/pckg/OpenRT/rtrt/include}
    config set LIBS    {OpenRT}
}

# --------------------------------------------------------------
# ooqp
# --------------------------------------------------------------
namespace eval ooqp {
    config set LIBPATH /HPS/opt/pckg/ooqp/lib
    config set INCPATH {/HPS/opt/pckg/ooqp/include}
    config set LIBS {ooqpbase ooqpbound ooqpdense ooqpgendense ooqpgensparse ooqpgondzio ooqpmehrotra ooqpsparse g2c blas}
}
