# -*-Mode: tcl -*-
# $Id: linux.config,v 1.7 2007/10/25 12:57:28 cfuchs_sf Exp $
# Linux config file, Max-Planck-Institut fuer Informatik, AG4
# Dispatcher.
assert {![string compare $OS "Linux"]}
dbg_msg "reading : [info script]" 1

# where to find the AG4 shared projects
config set ::PROJ_LOCATIONS /HPS/usr/ag4-adm/linux_shared_proj

# for the automatic compilation at night, we switch ALL dependencies on!
if {[info exists env(USER)]} {
    if {$env(USER) == "ag4-adm"} {
	puts "switching on ***all*** dependency checks for ag4-adm"
	config set DEPEND_EXCLUDE {}
    }
}

#
# source each environment
#
if {! [ info exist ARCH ] } { 
    set ARCH [arch_name ""]
}

if { [regexp {Debian4\.0.*} $ARCH] } {
    set addressmode [::tmk::get_runmodestat "addressmode" ]
    if { $addressmode == "default" } { 
	source $::tmk::dir_site/mpi-sb.mpg.de_confdir/linux.debian4.0.config
    } elseif { $addressmode == "64bit" } { 
	source $::tmk::dir_site/mpi-sb.mpg.de_confdir/linux.debian4.0-64bit.config	
    } else {
	puts "Error! : no config for runmode $addressmode."
	exit
    }
} elseif { $ARCH == "Debian3.1"} {
    set addressmode [::tmk::get_runmodestat "addressmode" ]
    if { $addressmode == "default" } { 
	source $::tmk::dir_site/mpi-sb.mpg.de_confdir/linux.debian3.1.config
    } elseif { $addressmode == "64bit" } { 
	source $::tmk::dir_site/mpi-sb.mpg.de_confdir/linux.debian3.1-opteron-64bit.config	
    } else {
	puts "Error! : no config for runmode $addressmode."
	exit
    }
} elseif { $ARCH == "Debian3.0"} {
    source $::tmk::dir_site/mpi-sb.mpg.de_confdir/linux.debian3.0.config
} elseif { $ARCH == "Debian2.2" } {
    source $::tmk::dir_site/mpi-sb.mpg.de_confdir/linux.debian2.2.config
} else {
    puts "Error! : mpi-sb.mpg.de_confdir/linux.config: Unknown ARCH ($ARCH). "
    puts "Please contact to ag4-adm."    
}
